.header-container {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-container__contact-info {
    display: flex;
    align-items: center;
    gap: 16px;

    .contact-info__text {
      font-size: 12px;
    }

    .contact-info__number {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 18px;
    }
  }
}


@media screen and (max-width: 700px) {
  .header-container {
    height: 56px;

    .contact-info__text {
      display: none;
    }
  }  
}