.plan-card-container {
  width: 288px;
  height: 687px;
  border-radius: 24px;
  box-shadow: 0 1px 10px 0 #aeacf35e;
  padding: 68px 32px 48px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .plan-card-container__title-container {
    display: flex;
    justify-content: space-between;

    .title-container__title {
      font-size: 24px;
      font-weight: bold;
    }
  }
  .plan-card-container__cost-title {
    font-size: 12px;
    color: #7981B2;
    font-weight: bold;
  }
  .plan-card-container__price {
    font-size: 20px;
      font-weight: bold;
  }

  .plan-card-container__descriptions-container {
    .description-container__description {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      margin-bottom: 24px;

      .description__point {
        width: 7px;
        height: 7px;
        border-radius: 99px;
        background: #141938;
        margin-top: 9px;
      }
      .description__content {
        width: 100%;
      }
    }
  }

  .plan-card-container__button {
    width: 100%;
    background: #FF1C44;
    border: none;
    border-radius: 99px;
    padding: 14px 0px;
    font-size: 18px;
    font-weight: bold;
  }
}

@media screen and (max-width: 700px) {
  .plan-card-container {
    width: 100%;
  }
}