.footer-container {
  background-color: black;
  width: 100%;
  height: 106px;
  position: relative;
  z-index: 1;

  .footer-container__content {
    max-width: 1120px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .content__divider {
      width: 100%;
    }
    .content__text {
      font-size: 14px;
      color: white;
    }
  }
}

@media screen and (max-width: 700px) {
  .footer-container {
    height: 152px;

    .footer-container__content {
      flex-direction: column;
      justify-content: center;
    }
  }
}
